* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .logo img {
    height: 6rem;
    width: 6rem;
    padding: 1vh 1vw;
    text-align: center;
  }
  
  .navbar {
    background-color: black;
    color: rgb(129, 1, 1);
    padding: 10px;
  }
  
  .content-box {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  .registration-form {
    background-color: rgb(165, 165, 165);
    width: 40%;
    border-radius: 5px;
    padding: 35px;
    margin: 3rem auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 10px; 
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #9b0f0f;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .container {
    left: 2rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
  